.about-services {
    background: #f2f2f2;
    padding-block: 30px;
    .h2Hoteles{
    display: flex;
    justify-content: center;
    }
}
.cardBts{
    display: flex;
    justify-content: center;
    gap: 30px;
}
